body {
   background: silver;
}

 .main_conteiner {
   max-width: 900px;
   margin: 0 auto;
   background: white;

 }

 .main_wrapper {
   border: solid silver;
   padding: 20px;
 }


 .pic_1 {   
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
    width: 200px;
    display: inline-block;
}

h1 {
   text-align: center;


}

.text_color {
   color: lightblue;
   font-size: 20px;
}

.shah {border-collapse: collapse; width: 500px; height: 500px; margin: 0 auto;}
.shah tr td {border: 1px solid black;}
.shah tr td.black {background: black;}


.my_table {border-collapse: collapse; width: 500px; margin: 50px 0 50px 0;}
.my_table tr td {border: 1px solid black; padding: 5px; font-size: 20px;}
.my_table tr td.td_grey {background: silver;}